<!DOCTYPE html>
<html>
<%- include ("../partials/head.ejs") %>
	<script>
		var subTots = null;
		function inizialiserSubTots() {
			if (subTots == null) {
				subTots = new Array("<%= compterProduits() %>".split(',').length);
			}
			for (let j = 0; j < subTots.length; j++) {
				if (document.getElementById(`btnConfirmer${j}`).innerHTML == ``) {
					subTots[j] = document.getElementById(`subT${j}`).innerText;
					console.log(document.getElementById(`subT${j}`).innerText);
				}
			}
		}
		async function enleverProduits(i) {
			var listeProduits = "<%= compterProduits() %>";
			id = listeProduits.split(",")[i].split(";")[0];
			const response = await fetch("/api/cart/enlever", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					idClient: "<%= idClient %>",
					produitId: id
				}),
			}).then(() => {
				window.location.reload();
			})
		}
		function changerQuantiteDeProd(id, i, prix) {
			inizialiserSubTots();
			quant = document.getElementById(`quant${i}`).value;
			if (quant < 1) {
				quant = 1;
				document.getElementById(`quant${i}`).value = 1;
			} else if (quant > 5) {
				quant = 5;
				document.getElementById(`quant${i}`).value = 5;
			}
			document.getElementById(`subT${i}`).innerText = (prix * quant).toFixed(2) + "$";
			document.getElementById(`btnConfirmer${i}`).innerHTML =
				`<button class="btn-primary fa fa-check" onclick="modifierQuantite('${id}','${quant}','${i}')"/>`;
			document.getElementById("nouvSubT").innerHTML =
				`<th colspan="5">Nouveau Subtotal</th>
				 <th >${CalculerNouvTotal()}</th>`;
			document.getElementById("TitreConfirmer").innerHTML =
				`Confirmer?`;

		}

		function CalculerNouvTotal() {
			total = 0;
			for (let j = 0; j < "<%= compterProduits() %>".split(',').length; j++) {
				subtot = document.getElementById(`subT${j}`).innerText;
				total += parseFloat(subtot);
			}
			return total.toFixed(2) + "$";
		}
		async function modifierQuantite(id, quant, i) {
			var listeProduits = "<%= compterProduits() %>";
			document.getElementById(`btnConfirmer${i}`).innerHTML = ``;
			mettreAJourTotal(listeProduits);
			// Mostrar pantalla de carga
			let checkoutBtn = document.getElementById("checkout");
			let msgButton = document.getElementById("texteButton").innerText;
			let spinner = document.getElementById("spinner");
			spinner.style.display = "block";
			document.getElementById("texteButton").innerText = "";
			checkoutBtn.style.cursor = "not-allowed";
			checkoutBtn.style.opacity = "0.3";
			checkoutBtn.classList.add("disabled");


			await fetch("/api/cart/modifierQuantiter", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify({
					idClient: "<%= idClient %>",
					produitId: id,
					Quant: quant
				}),
			}).then((response) => {
				if (response.ok) {
					spinner.style.display = "none";
					checkoutBtn.style.cursor = "pointer";
					checkoutBtn.style.opacity = "1";
					checkoutBtn.classList.remove("disabled");
					document.getElementById("texteButton").innerText = msgButton;
				} else {
					console.log("Quantité non modifiée");
				}
			})
		}
		function mettreAJourTotal(nbProduits) {
			inizialiserSubTots();
			var total = 0;
			var toutConfirme = true;
			for (let i = 0; i < subTots.length; i++) {
				subtot = subTots[i];
				if (document.getElementById(`btnConfirmer${i}`).innerHTML != ``) {
					toutConfirme = false;
				}
				total += parseFloat(subtot);
			}
			if (toutConfirme) {
				document.getElementById("TitreConfirmer").innerHTML = ``;
				document.getElementById("nouvSubT").innerHTML = ``;
			}
			document.getElementById("total").innerText = total.toFixed(2) + "$";
		}

		async function sauvegargerTotal() {
			const totalPriceStr = document.getElementById("total").innerText;
			const products = [];
			const totalPrice = parseFloat(totalPriceStr);

			const response = await fetch('/cart', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ Total: totalPrice, products: products, idClient: "<%= idClient %>", })
			})

			const data = await response.json();
			window.location.href = data.Surl;
		}
	</script>

	<body>
		<!-- navbar-->
		<%- include ("../partials/navbar.ejs") %>
			<% var total=0 %>
				<div id="all">
					<div id="content">
						<div class="container">
							<div class="row">
								<div id="basket" class="col-lg-11">
									<div class="box">
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th colspan="2">Product</th>
														<th>Quantity</th>
														<th id="TitreConfirmer"></th>
														<th>Unit price</th>
														<th colspan="2">Subtotal</th>
													</tr>
												</thead>
												<tbody>
													<div id="BoiteProduits">
														<% ListeProduits=compterProduits(); for (let i=0; i <
															ListeProduits.length; i++) {
															id=ListeProduits[i].split(";")[0];
															nb=ListeProduits[i].split(";")[1];
															produit=produits.find(produit=> produit._id == id);
															nom = produit.nom;
															prix = produit.prix;
															subtot = prix * nb;
															%>
															<tr>
																<td>
																	<a href="/product/<%=id%>"><img
																			src="/assets/img/<%=nom%>.jpg" /></a>
																</td>
																<td><a href="/product/<%=id%>">
																		<%=nom%>
																	</a></td>
																<td>
																	<input type="number" value="<%=nb%>"
																		id="quant<%=i%>"
																		onchange='changerQuantiteDeProd("<%=id%>","<%=i%>","<%=prix%>")'
																		min="1" max="5" />
																</td>
																<td>
																	<div id="btnConfirmer<%=i%>"></div>

																</td>
																<td id="price">
																	<%=prix%>$
																</td>
																<td>
																	<div id="subT<%=i%>">
																		<%=subtot.toFixed(2)%>$
																	</div>

																</td>
																<td>
																	<button class="btn-primary"
																		onclick="enleverProduits(<%=i%>)"><i
																			class="fa fa-trash-o"></i></button>
																</td>
															</tr>
													</div>
													<%total+= subtot%>
														<% } %>
										</div>

										</tbody>
										<tfoot>
											<tr id="nouvSubT">
											</tr>
											<tr>
												<th colspan="5">Total</th>
												<th colspan="2" id="total">
													<%= total.toFixed(2) %>$
												</th>
											</tr>
											<tr>
												<th colspan="5">
													<button id="checkout" type="submit" class="btn btn-primary"
														onclick="sauvegargerTotal()">
														<div id="texteButton">Proceed to checkout</div>
														<span>
															<div id="spinner" class="spinner-border" role="status"
																style="display: none;">
																<span class="sr-only"></span>
															</div>
														</span>

													</button>

												</th>
											</tr>
										</tfoot>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
				<%- include ("../partials/footer.ejs") %>

					<!-- JavaScript files-->
					<%- include ("../partials/javascript.ejs") %>
	</body>

	<%function compterProduits() { nbProduits=0; idsProduits=[]; for (let i=0; i < produits.length; i++) {
		produitDuplique=false; for (let j=0; j < idsProduits.length; j++) { if
		(produits[i]._id==idsProduits[j].split(";")[0]) { produitDuplique=true; idsProduits[j]=produits[i]._id + ";" +
		(parseInt(idsProduits[j].split(";")[1]) + 1); break; } } if (!produitDuplique) { nbProduits++;
		idsProduits.push(produits[i]._id + ";1" ); } } return idsProduits; } function enleverProduit(id) {
		console.log("id="+id);
		}
		%>
		
</html>