<!doctype html>
<html lang="fr" data-bs-theme="auto">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <main>
        <div class="container py-4">
            <%- include ("../partials/header.ejs") %>
<<<<<<< HEAD
                <h1 class="text-center mb-4">Collection</h2>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <img src="/assets/img/chaussure-blanc.png" class="my-4" alt="chaussure blanc">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/veste.png" class="my-4" alt="vert veste">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/tshirts-white.png" class="my-4" alt="tshirts white">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/black-pants.png" class="my-4" alt="black pants">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/black-tshirt.png" class="my-4" alt="black tshirt">
                        </div>

                        <div class="col-md-4">
                            <img src="/assets/img/bag.png" class="my-4" alt="bag">
                        </div>

                    </div>
        </div>
    </main>
=======
                <div class="bg-image"
                    style="align-content: center; background-image: url('../<%=fondDEcran%>'); background-size: cover; background-repeat: no-repeat; text-align: justify;">

                    <br>
                    <div style="background-color: rgb(11, 5, 20); height: 20%;">
                        <label style="color: aliceblue; margin-left: 10%;margin-top: 1%;" for="collections">Changez la
                            saison:</label>

                        <select style="height: auto; vertical-align: middle; text-align: center;"
                            name="SelectionCollections" id="SelectionCollections" onchange="ChangerCollection()">
                            <option value="0">Selectionnez Une saison</option>
                            <%for(var i=0; i<collections.length; i++){%>
                                <option style="vertical-align: auto; height: 15%;"
                                    value="<%=collections[i].CollectionID%>">
                                    <%=collections[i].NomCollection%>
                                </option>
                                <%}%>
                        </select>
                        <h1 style="text-align: center;  background-color: blanchedalmond; margin-top: 1%;">
                            <%=collection%>
                        </h1>
                    </div>

                    <br>
                    <% for(var i=0; i<produits.length; i++) { %>
                        <% if(i%3==0 || i==0){ %>
                            <% console.log("Ouverture ligne"+i); %>
                                <div class="row py-5 m-auto" style="max-width:1000px;">
                                    <% AfficherCarte(i); %>
                                        <% }else{ %>
                                            <% AfficherCarte(i); %>
                                                <% } %>
                                                    <%if((i+1)%3==0 || i+1==produits.length){ %>
                                                        <% console.log("Fermeture ligne"+i); %>
                                </div>
                                <% } %>
                                    <% } %>

                                        <% function AfficherCarte(i){ %>
                                            <div class="col-md-4">
                                                <a href="/produit/<%=produits[i].ProduitID%>">
                                                    <div class="card">
                                                        <img src="../assets/img/IMG_<%=produits[i].Nom%>.jpg"
                                                            onerror="this.onerror=null; this.src='../<%=imgNonTrouvee%>';"
                                                            class="card-img-top">
                                                        <div class=" card-body">
                                                            <h5 class="card-title">
                                                                <%=produits[i].Nom %>
                                                            </h5>
                                                            <p>
                                                                <%=produits[i].Prix %>$
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <% } %>
                </div>
                <script>
                    function ChangerCollection() {
                        var CollectionID = document.getElementById("SelectionCollections").value;
                        window.location.href = "/collection/" + CollectionID;
                    }
                </script>
        </div>
    </main>
    <%- include ("../partials/footer.ejs") %>
>>>>>>> main
</body>

</html>