<!doctype html>
<html lang="fr" data-bs-theme="auto">

<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <main>
        <div class="container py-4">
            <%- include ("../partials/header.ejs") %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
<<<<<<< HEAD
                            <img src="/assets/img/bad-girl.png" class="card-img-top" alt="Image 1">
                            <div class="card-body">
                                <h5 class="card-title">Moda 89c</h5>
                                <a href="/collection" class="btn btn-primary">EXPLORE THE COLLECTION</a>
=======
                            <img src="/assets/img/IMG_<%= produits[0].Nom %>.jpg" class="card-img-top" alt="Image 1">
                            <div class="card-body">
                                <h5 class="card-title">ETE 2024</h5>
                                <a href="/collection/<%= produits[0].CollectionID %>" class="btn btn-primary">EXPLORE
                                    LA COLLECTION</a>
>>>>>>> main
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
<<<<<<< HEAD
                            <img src="/assets/img/mode-woman.png" class="card-img-top" alt="Image 2">
                            <div class="card-body">
                                <h5 class="card-title">Chemises</h5>
                                <a href="/collection" class="btn btn-primary">EXPLORE THE COLLECTION</a>
=======
                            <img src="/assets/img/IMG_<%= produits[4].Nom %>.jpg" class="card-img-top" alt="Image 2">
                            <div class="card-body">
                                <h5 class="card-title">HIVER 2024</h5>
                                <a href="/collection/<%= produits[4].CollectionID %>" class="btn btn-primary">EXPLORE
                                    LA COLLECTION</a>
>>>>>>> main
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-center py-5">
<<<<<<< HEAD
                    <h2 class="mb-3">Valentines day</h2>
                    <a href="/collection" class="btn btn-dark">EXPLORE THE COLLECTION</a>
                </div>

                <img src="/assets/img/black-woman.png" alt="woman" class="d-block m-auto" />
=======
                    <h2 class="mb-3">Saint-Valentin</h2>
                    <a href="/collection/3" class="btn btn-dark">EXPLOREZ LA COLLECTION</a>
                </div>

                <img src="/assets/img/IMG_<%= produits[2].Nom %>.jpg" alt="woman" class="d-block m-auto" />
>>>>>>> main

                <div class="row py-5 m-auto" style="max-width:1000px;">
                    <div class="col-md-4">
                        <div class="card">
<<<<<<< HEAD
                            <img src="/assets/img/shirts.png" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">500 000 003 $</h5>
=======
                            <img src="/assets/img/IMG_<%= produits[3].Nom %>.jpg" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= produits[3].Prix %> $
                                </h5>
>>>>>>> main
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
<<<<<<< HEAD
                            <img src="/assets/img/bag.png" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">3000 000 000 $</h5>
=======
                            <img src="/assets/img/IMG_<%= produits[1].Nom %>.jpg" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= produits[1].Prix %> $
                                </h5>
>>>>>>> main
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
<<<<<<< HEAD
                            <img src="/assets/img/shoes.png" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">500 000 000 $</h5>
=======
                            <img src="/assets/img/IMG_<%= produits[5].Nom %>.jpg" class="card-img-top" alt="shirt">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= produits[5].Prix %> $
                                </h5>
>>>>>>> main
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>